@font-face {
  font-family: 'Moneygraphy';
  src: url('/fonts/Moneygraphy-Rounded.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Moneygraphy', sans-serif; 
  margin: 0;
  padding: 0;
}